* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.Main-container {
  min-height: 100dvh;
  background: url("assets/bg-images/cloudy2.jpg") center / cover no-repeat;
}

#bg-overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.75));
  z-index: 0;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  z-index: 1000;

}

nav h1 {
  font-size: clamp(18px, 4vw, 26px);
  font-weight: 400;
}

.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* INPUT */

#inp {
  height: 32px;
  width: 200px;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  background-color: rgb(22, 22, 22);
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
}

#inp::placeholder {
  color: #ccc;
}

button {
  height: 32px;
  width: 75px;
  border-radius: 20px;
  border: none;
  background-color: rgb(172, 172, 172);
  color: black;
  font-family: 'Montserrat';
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: rgb(190, 190, 190);
}

#main {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 34px;

}

#weather-content {
  display: block;
}

/* WEATHER INFO */

#icon {
  height: 70px;
  margin-top: 20px;
  filter: brightness(0) invert(1);
}

#city {
  margin-top: -10px;
  font-size: clamp(32px, 6vw, 66px);
  color: rgb(255, 242, 0);
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#temp {
  font-size: clamp(28px, 5vw, 53px);
  margin-top: 10px;
}

.same {
  margin-top: 12px;
  font-size: 16px;
}

/* 5 DAY FORECAST */

#maindaily {
  margin: 30px 10px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 11px;
  padding: 20px;
  justify-items: center;
}


.forecast-card {
  width: 75%;
  max-width: 140px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  font-size: 15px;
  transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.forecast-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* ERROR SCREEN */

#error {
  display: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

#error p {
  font-weight: 600;
  font-size: 24px;
  margin-top: 40px;
}

/* MAKING RESPONSIVE FOR SMALLER SCREENS */

@media (max-width: 768px) {
  
  .same {
    font-size: 14px;
  }

  #inp {
    width: 170px;
  }
   #main {
    padding-top: 90px;
  }

  #city {
    font-size: 36px;
  }

  #temp {
    font-size: 30px;
  }

  .same {
    font-size: 14px;
    line-height: 1.4;
  }

  .forecast {
    padding: 16px 12px;
  }
}


